@import './utils/normalize';
@import './utils/reset';
@import './utils/vars';
@import './utils/body';
@import './utils/mixins';
@import './utils/hidden';
@import './utils/common-classes';
@import './utils/container';

@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';
@import './components/modal-buy';
@import './components/modal-about';
@import './components/modal-locations';
@import './components/modal-franchise';
