:root {
  --pimary-accent-color: #d41443;
  --secondary-accent-color: #ffa5ba;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --card1-bg-color: #ffb8ca;
  --card2-bg-color: #f0d1a5;
  --card3-bg-color: #c2e297;
  --mobile-menu-bg-color: #e17992;

  --btn-hover-bg: #ecebeb;

  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --tertiary-text-color: #ffffff;

  --accent-font: 'Titan One', cursive;
  --main-font: 'DM Sans', sans-serif;
}
