<section class="about">
  <div class="container">
    <p class="about__label label">tradition and love</p>
    <h2 id="about" class="about__title title">how it’s made?</h2>
    <div class="about__box">
      <picture>
        <source
          srcset="
            ./images/about-cow-mobile-1x.png 1x,
            ./images/about-cow-mobile-2x.png 2x
          "
          media="(max-width: 767px)"
          sizes="(max-width: 767px) 280px"
        />
        <source
          srcset="
            ./images/about-cow-tablet-1x.png 1x,
            ./images/about-cow-tablet-2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
          sizes="(min-width: 768px) 336px"
        />
        <source
          srcset="
            ./images/about-cow-desktop-1x.png 1x,
            ./images/about-cow-desktop-2x.png 2x
          "
          media="(min-width: 1200px)"
          sizes="(min-width: 1200px) 501px"
        />
        <img
          src="/src/images/about-cow-desktop-1x.png"
          alt="Cow and milk"
          class="about__img"
        />
      </picture>
      <div class="about__content">
        <p class="about_subtitle">
          At IceCream, we start with high quality ingredients. We partner with
          American farmers for 100% milk and cream that comes from cows not
          treated with artificial growth hormones.
        </p>
        <p class="about__text">
          One of the main ingredients of the dessert is berries and fruits,
          which are harvested at the height of the season. And exotic flavors of
          ice cream are created on the basis of fruits that are ordered from
          European and American suppliers.<span
            >That’s the reason why we call it natural ice cream.
          </span>
        </p>
        <button
          type="button"
          class="about__btn btn btn--white"
          modal-about-open
        >
          See more
          <svg class="about__btn-icon" width="10" height="20">
            <use href="./images/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
