<section class="advantages" id="advantages">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-list__item advantages-list__item--first">
                <p class="advantages-list__number">721</p>
                <p class="advantages-list__text">This is the amount of milk we lose per week for the production of the most delicious cocktails and ice cream</p>
            </li>
            <li class="advantages-list__item advantages-list__item--second">
                <p class="advantages-list__number">16kg</p>
                <p class="advantages-list__text">We are responsible for the quality of products and every day use only fresh fruits from our gardens</p>
            </li>
            <li class="advantages-list__item advantages-list__item--third">
                <p class="advantages-list__number">84</p>
                <p class="advantages-list__text">Each person has their own unique preferences which is why we offer the largest number of flavors to choose from</p>
            </li>
        </ul>
    </div>
</section>