<section class="advantages">
    <ul class="advantages__list list">
        <li class="advantages__item">
            <img class="advantages__icon" srcset="/src/images/advantages-icon1-1x.png, /src/images/advantages-icon1-2x.png" src="/src/images/advantages-icon1-1x.png" alt="Доїння корови">
            <p class="advantages__number">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <img class="advantages__icon" srcset="/src/images/advantages-icon2-1x.png, /src/images/advantages-icon2-2x.png" src="/src/images/advantages-icon2-1x.png" alt="Відро з яблуками">
            <p class="advantages__number">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <img class="advantages__icon" srcset="/src/images/advantages-icon3-1x.png, /src/images/advantages-icon3-2x.png" src="/src/images/advantages-icon3-1x.png" alt="Серце">
            <p class="advantages__number">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>