<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts and franchise</h2>

        <!-- Главный список -->
        <ul class="contacts__list list">
            <!-- Это сам блок -->
            <li class="contacts__item">

                <p class="contacts__category-text">CAFE</p>
                <p class="contacts__category-text">Chicago</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="contacts__time list">
                    <li class="contacts__time-item">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__time-item">
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- Список для контактов -->
                <ul class="contacts__communications list">
                    <li>
                        <a class="contacts__communications-tell link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__communications-mail link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>


            <li class="contacts__item">

                <p class="contacts__category-text">FOODTRUCK</p>
                <p>Chicago</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="contacts__time list">
                    <li class="contacts__time-item">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__time-item">
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- Список для контактов -->
                <ul class="contacts__communications list">
                    <li>
                        <a class="contacts__communications-tell link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__communications-mail link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>


            <li class="contacts__item">

                <p class="contacts__category-text">CAFE</p>
                <p>Chicago</p>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="contacts__time list">
                    <li class="contacts__time-item">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__time-item">
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- Список для контактов -->
                <ul class="contacts__communications list">
                    <li>
                        <a class="contacts__communications-tell link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__communications-mail link"
                            href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>


        <ul class="contacts__btn-list list">
            <li class="contacts__btn-item list">
                <button class="contacts__button-first" type="button">Our Locations
                    <svg class="contacts__btn-icon" width="4.43" height="8">
                        <use href="./images/icons.svg#icon-btn-arrow">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="contacts__btn-item list">
                <button class="contacts__button-second" type="button">Franchise
                    <svg class="contacts__btn-icon" width="4.43" height="8">
                        <use href="./images/icons.svg#icon-btn-arrow">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>
</section>