<section class="contacts" id="contacts">
    <div class="container">
        <h2 class="visually-hidden">Contacts and franchise</h2>

        <!-- Главный список -->
        <ul class="contacts__list list">
            <!-- Это сам блок -->
            <li class="contacts__item">

                <p class="contacts__category">CAFE</p>
                <p class="contacts__text">Chicago</p>
                <p class="contacts__second-text">A cozy cafe in the city center where you can enjoy the incredible taste
                    of our ice cream.</p>

                <ul class="contacts__time-list list">
                    <li class="contacts__time-item">
                        <p class="contacts__day-text">Monday - Friday</p>
                        <p class="contacts__time-text">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__time-item">
                        <p class="contacts__day-text">Saturday - Sunday</p>
                        <p class="contacts__time-text">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- Список для контактов -->
                <ul class="contacts__communications-list list">
                    <li>
                        <a class="contacts__communications-link link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__communications-link link"
                            href="mailto:ice-cream@gmail.com">ice-cream@gmail.com</a>
                    </li>
                </ul>
            </li>


            <li class="contacts__item">

                <p class="contacts__category contacts__category--green">FOODTRUCK</p>
                <p class="contacts__text">Los Angeles</p>
                <p class="contacts__second-text">Ice Cream on Wheels catering your favorite ice cream novelties to your
                    party.</p>

                <ul class="contacts__time-list list">
                    <li class="contacts__time-item">
                        <p class="contacts__day-text">Monday - Friday</p>
                        <p class="contacts__time-text">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__time-item">
                        <p class="contacts__day-text">Saturday - Sunday</p>
                        <p class="contacts__time-text">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- Список для контактов -->
                <ul class="contacts__communications-list list">
                    <li>
                        <a class="contacts__communications-link link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__communications-link link"
                            href="mailto:ice-cream@gmail.com">ice-cream@gmail.com</a>
                    </li>
                </ul>
            </li>


            <li class="contacts__item">

                <p class="contacts__category">CAFE</p>
                <p class="contacts__text">New York</p>
                <p class="contacts__second-text">Try our ice cream cones, shakes, sundaes, pints, ice cream cakes and
                    soft serve.</p>

                <ul class="contacts__time-list list">
                    <li class="contacts__time-item">
                        <p class="contacts__day-text">Monday - Friday</p>
                        <p class="contacts__time-text">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__time-item">
                        <p class="contacts__day-text">Saturday - Sunday</p>
                        <p class="contacts__time-text">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <!-- Список для контактов -->
                <ul class="contacts__communications-list list">
                    <li>
                        <a class="contacts__communications-link link" href="tel:+61(0)383766284 ">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__communications-link link"
                            href="mailto:ice-cream@gmail.com">ice-cream@gmail.com</a>
                    </li>
                </ul>
            </li>
        </ul>


        <ul class="contacts__btn-list list">
            <li class="contacts__btn-item">
                <button class="contacts__button contacts__button--red" type="button" loc-modal-open>Our Locations
                    <svg class="contacts__btn-icon" width="10" height="20">
                        <use href="./images/icons.svg#icon-btn-arrow">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="contacts__btn-item">
                <button class="contacts__button contacts__button--white" type="button" franchise-modal-open>Franchise
                    <svg class="contacts__btn-icon contacts__btn-icon--red" width="10" height="20">
                        <use href="./images/icons.svg#icon-btn-arrow">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>
</section>