<section class="customer-reviesw">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <ul class="customer-reviesw__list list">
            <li class="customer-reviesw__item">
                <picture>
                    <source srcset="
                    /src/images/customer1-1x.png,
                    /src/images/customer1-2x.png 2x">
                    <img src="/src/images/customer1-1x.png" alt="Customer 1" width="85" class="customer-reviesw__img">
                </picture>
                <p class="customer-reviesw__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p>


                <span class="customer-reviesw__dots"></span>
                <p class="customer-reviesw__name">Emily, Los Angeles</p>
            </li>
            <li class="customer-reviesw__item">
                <picture>
                    <source srcset="
                                    /src/images/customer2-1x.png,
                                    /src/images/customer2-2x.png 2x">
                    <img src="/src/images/customer2-1x.png" alt="Customer 1" width="85" class="customer-reviesw__img">
                </picture>
                <p class="customer-reviesw__text"> Якщо в в однин із слайдів slick slide написати більше контенту ніж в
                    іших слайдах, то висота слайду збільшується. В звичайній сітці карток для вирівнювання карток по
                    висоті ми використовуємо властивість flex-grow: 1; для елемента який хочемо розтяги та display:
                    flex; ,flex-direction: column; на саму картку. Тут ця метологія вирівнювання не спрацьовує.
                </p>
                <span class="customer-reviesw__dots"></span>
                <p class="customer-reviesw__name">Jenny, Chicago</p>
            </li>
            <li class="customer-reviesw__item">
                <picture>
                    <source srcset="
                                    /src/images/customer3-1x.png,
                                    /src/images/customer3-2x.png 2x">
                    <img src="/src/images/customer3-1x.png" alt="Customer 1" width="85" class="customer-reviesw__img">
                </picture>
                <p class="customer-reviesw__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                <span class="customer-reviesw__dots"></span>
                <p class="customer-reviesw__name">Monica, New York</p>
            </li>
        </ul>
    </div>
</section>