<footer class="footer">
   <div class="footer__top"> 
        <div class="container footer__top-container">
            <div class="footer__title-wrap">
                <p data-aos="fade-right" class="footer__label label">homemade ice cream made</p>
                <p data-aos="fade-right" class="footer__title title">with passion</p>
            </div>
            <div data-aos="fade-right" class= "footer__contacts-wrap">
                <ul class="footer__list list">
                <li class="footer__item">
                    <a rel="noreferrer noopener" target="_blank" href="https://github.com/login" class="footer__link link">
                        <svg width="19" height="19" class="footer__icon">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a rel="noreferrer noopener" target="_blank" href="https://web.telegram.org/" class="footer__link link">
                        <svg width="19" height="19" class="footer__icon">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__item">
                    <a rel="noreferrer noopener" target="_blank" href="https://uk-ua.facebook.com/" class="footer__link link">
                        <svg width="19" height="19" class="footer__icon"> 
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__text">Feel free to contact 
                <a href="tel:+61(0)383766284" class="footer__phone link">+61 (0) 383 766 284</a>
            </p>
            </div>
            
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container footer__bottom-container">
            <p class="footer__bottom-title">&copy 2022 - IceCream.</p>
            <p class="footer__bottom-subtitle">All Rights Reserved.</p>
        </div>
    </div>
</footer>
