<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>

    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery1-mob-1x.png   44w,
            ./images/gallery1-mob-2x.png   88w,
            ./images/gallery1-tab-1x.png  105w,
            ./images/gallery1-desk-1x.png 138w,
            ./images/gallery1-tab-2x.png  210w,
            ./images/gallery1-desk-2x.png 276w
          "
          src="./images/gallery1-desk-1x.png"
          alt="two green cups in a wooden bowl"
          sizes="14vw"
        />
      </li>

      <li class="gallery__item">
        <ul class="gallery__item-container">
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery2-mob-1x.png   44w,
                ./images/gallery2-mob-2x.png   88w,
                ./images/gallery2-tab-1x.png  105w,
                ./images/gallery2-desk-1x.png 138w,
                ./images/gallery2-tab-2x.png  210w,
                ./images/gallery2-desk-2x.png 276w
              "
              src="./images/gallery2-desk-1x.png"
              alt="ice-cream in the hand"
              sizes="14vw"
            />
          </li>
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery3-mob-1x.png   44w,
                ./images/gallery3-mob-2x.png   88w,
                ./images/gallery3-tab-1x.png  105w,
                ./images/gallery3-desk-1x.png 138w,
                ./images/gallery3-tab-2x.png  210w,
                ./images/gallery3-desk-2x.png 276w
              "
              src="./images/gallery3-desk-1x.png"
              alt="six pink strawberry ice creams"
              sizes="14vw"
            />
          </li>
        </ul>
      </li>

      <li class="gallery__item">
        <ul class="gallery__item-container">
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery4-mob-1x.png   88w,
                ./images/gallery4-mob-2x.png  176w,
                ./images/gallery4-tab-1x.png  215w,
                ./images/gallery4-desk-1x.png 276w,
                ./images/gallery4-tab-2x.png  430w,
                ./images/gallery4-desk-2x.png 552w
              "
              src="./images/gallery4-desk-1x.png"
              alt="eight blueberry ice creams"
              sizes="28vw"
            />
          </li>
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery5-mob-1x.png   44w,
                ./images/gallery5-mob-2x.png   88w,
                ./images/gallery5-tab-1x.png  105w,
                ./images/gallery5-desk-1x.png 138w,
                ./images/gallery5-tab-2x.png  210w,
                ./images/gallery5-desk-2x.png 276w
              "
              src="./images/gallery5-desk-1x.png"
              alt="the girl eats ice cream"
              sizes="14vw"
            />
          </li>
        </ul>
      </li>

      <li class="gallery__item gallery__item--modified">
        <ul class="gallery__item-container">
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery6-mob-1x.png   44w,
                ./images/gallery6-mob-2x.png   88w,
                ./images/gallery6-tab-1x.png  105w,
                ./images/gallery6-desk-1x.png 138w,
                ./images/gallery6-tab-2x.png  210w,
                ./images/gallery6-desk-2x.png 276w
              "
              src="./images/gallery6-desk-1x.png"
              alt="to put blueberries and strawberries on ice cream"
              sizes="14vw"
            />
          </li>
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery7-mob-1x.png   44w,
                ./images/gallery7-mob-2x.png   88w,
                ./images/gallery7-tab-1x.png  105w,
                ./images/gallery7-desk-1x.png 138w,
                ./images/gallery7-tab-2x.png  210w,
                ./images/gallery7-desk-2x.png 276w
              "
              src="./images/gallery7-desk-1x.png"
              alt="to walk down the street with ice cream in hand"
              sizes="14vw"
            />
          </li>
        </ul>
      </li>

      <li class="gallery__item">
        <ul class="gallery__item-container gallery__item--transform">
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery8-mob-1x.png   44w,
                ./images/gallery8-mob-2x.png   88w,
                ./images/gallery8-tab-1x.png  105w,
                ./images/gallery8-desk-1x.png 138w,
                ./images/gallery8-tab-2x.png  210w,
                ./images/gallery8-desk-2x.png 276w
              "
              src="./images/gallery8-desk-1x.png"
              alt="to give ice cream to the dog"
              sizes="14vw"
            />
          </li>
          <li>
            <img
              class="gallery__image"
              srcset="
                ./images/gallery9-mob-1x.png   44w,
                ./images/gallery9-mob-2x.png   88w,
                ./images/gallery9-tab-1x.png  105w,
                ./images/gallery9-desk-1x.png 138w,
                ./images/gallery9-tab-2x.png  210w,
                ./images/gallery9-desk-2x.png 276w
              "
              src="./images/gallery9-desk-1x.png"
              alt="the glass with chocolate ice cream"
              sizes="14vw"
            />
          </li>
        </ul>
      </li>

      <li class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery10-mob-1x.png   44w,
            ./images/gallery10-mob-2x.png   88w,
            ./images/gallery10-tab-1x.png  105w,
            ./images/gallery10-desk-1x.png 138w,
            ./images/gallery10-tab-2x.png  210w,
            ./images/gallery10-desk-2x.png 276w
          "
          src="./images/gallery10-desk-1x.png"
          alt="the ice cream with a cookie"
          sizes="14vw"
        />
      </li>
    </ul>
  </div>
</section>
