<section class="hero">
  <div class="container">
    <div class="hero__wrap hero__wrap--spacebetween">
      <div class="hero__wrap--absolute">
        <h1 class="hero__title hero__title--white title">
          Ice cream made with<span class="hero__title hero__title--red title">
            Passion</span
          >
        </h1>
        <ul class="hero-info list">
          <li class="hero-info__item hero-info__item--red">
            <a class="hero-info__link link" href="#products">Products</a>
          </li>
          <li class="hero-info__item hero-info__item--white">
            <a class="hero-info__link link" href="#about">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="hero-list list">
        <li class="hero-list__item">
          <span class="hero-list__span">16</span>
          cafes
        </li>
        <li class="hero-list__item">
          <span class="hero-list__span">23</span>
          food trucks
        </li>
      </ul>
    </div>
    <div class="hero__circle"></div>
    <div class="hero__wrap hero__wrap--flex">
      <picture>
        <source
          srcset="
            ./images/hero-milk-desktop-1x.png 1x,
            ./images/hero-milk-desktop-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero-milk-tablet-1x.png 1x,
            ./images/hero-milk-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="hero__img hero__img--milk"
          src="./images/hero-milk-tablet-1x.png"
          alt="Big eco jug of milk"
          width="152"
        />
      </picture>
      <div class="hero__wrap hero__wrap--bottom">
        <p class="hero__text">
          Stop by for delicious eco ice cream and drinks. Choose your favorite
          flavors and enjoy them. We are waiting for you! Click below to view
          our locations!
        </p>
        <div class="hero-arow">
          <a
            class="hero-arow__link hero-arow__link--circle link"
            href="#contacts"
          >
            <svg class="hero__icon" width="5" height="10">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero-icecream-desktop-1x.png 1x,
          ./images/hero-icecream-desktop-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero-icecream-tablet-1x.png 1x,
          ./images/hero-icecream-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero-icecream-mobile-1x.png 1x,
          ./images/hero-icecream-mobile-2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="hero__img hero__img--icecream animate__animated animate__fadeInLeft"
        src="./images/hero-icecream-mobile-1x.png"
        alt="Ice cream"
        width="171"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero-girl-desktop-1x.png 1x,
          ./images/hero-girl-desktop-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero-girl-tablet-1x.png 1x,
          ./images/hero-girl-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img
        class="hero__img hero__img--girl"
        src="./images/hero-girl-tablet-1x.png"
        alt="Girl eat ice cream"
        width="190"
      />
    </picture>
  </div>
</section>
