<div class="loc-backdrop is-hidden" loc-modal>
    <div class="loc-modal" >
        <button class="loc-modal__close-button" loc-modal-close>
            <svg class="loc-modal__close-icon" width="11" height="11">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>
        <div class="loc-modal__wrap">
            <p class="loc-modal__main-title title">You can find us here:</p>
            <ul class="loc-modal__list list">
                <div class="loc-modal__list-wrap">
                  <li class="loc-modal__item">
                    <p class="loc-modal__title label">CAFE</p>
                    <p class="loc-modal__subtitle label">Chicago</p>
                    <iframe class="loc-modal__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.221553596075!2d-87.61691698471972!3d41.866579479223006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2sua!4v1657968647858!5m2!1sru!2sua"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                   </li>
                  <li class="loc-modal__item">
                    <p class="loc-modal__title label">FOODTRUCK</p>
                    <p class="loc-modal__subtitle label">Los Angeles</p>
                    <iframe class="loc-modal__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.106549073368!2d-118.26145438496461!3d34.015475880615895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c87b9d36057b%3A0x3e8ff2ec6b6b1059!2sIce%20Cream%20On%20Wheels%20of%20Los%20Angeles!5e0!3m2!1sru!2sua!4v1657968917625!5m2!1sru!2sua"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                  </li>
                </div>
                <li class="loc-modal__item">
                <p class="loc-modal__title label">CAFE</p>
                <p class="loc-modal__subtitle label">New York</p>
                <iframe class="loc-modal__map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96767.22244826752!2d-74.22378918359372!3d40.718551399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259549cf1617d%3A0x85dedf8de6c323a7!2sMorgenstern%E2%80%99s%20Finest%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1657969032604!5m2!1sru!2sua"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
               </li>
            </ul>
        </div>
    </div>
</div>