<div class="modal-buy is-hidden">
  <div class="modal-buy-container">
    <button class="modal-buy-close">
      <svg class="icon-close" width="11" height="11">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal-buy-title">Buy now</p>
    <form>
      <div class="form-container">
        <label for="user-name" class="modal-buy-label label">Name*</label>
        <input
          type="text"
          id="user-name"
          name="user-name"
          class="modal-buy-input"
          required
        />
        <label for="user-tel" class="modal-buy-label label">Phone*</label>
        <input
          type="tel"
          id="user-tel"
          name="user-tel"
          class="modal-buy-input"
          required
        />
        <label for="user-email" class="modal-buy-label label">E-mail*</label>
        <input
          type="email"
          id="user-email"
          name="user-email"
          class="modal-buy-input"
          required
        />
      </div>
      <div class="group-select">
        <div class="group">
          <label for="Ice Cream" class="group-label label">Ice Cream</label>
          <select name="Ice Cream" id="Ice Cream" class="select-modal">
            <option value="Chocolate">Chocolate</option>
            <option value="Strawberry">Strawberry</option>
            <option value="Banana">Banana</option>
          </select>
          <!-- <label for="amount-1" class="modal-buy-label"
            >How many ice cream do you want to order?</label
          > -->
          <input
            type="number"
            required
            min="1"
            max="10"
            step="1"
            value="0"
            name="amount-1"
            id="amount-1"
            class="select-modal select-number"
          />
        </div>
        <div class="group">
          <label for="Milkshakes" class="group-label label">Milkshakes</label>
          <select name="Milkshakes" id="Milkshakes" class="select-modal">
            <option value="Vanilla">Vanilla</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Strawberry">Strawberry</option>
          </select>
          <input
            type="number"
            required
            min="1"
            max="10"
            step="1"
            value="0"
            name="amount-1"
            id="amount-1"
            class="select-modal select-number"
          />
        </div>
        <div class="group">
          <label for="Ice Coffee" class="group-label label">Ice Coffee</label>
          <select name="Ice Coffee" id="Ice Coffee" class="select-modal">
            <option value="Ice Latte">Ice Latte</option>
            <option value="Frappe">Frappe</option>
            <option value="Bumblebee">Bumblebee</option>
          </select>
          <input
            type="number"
            required
            min="1"
            max="10"
            step="1"
            value="0"
            name="amount-1"
            id="amount-1"
            class="select-modal select-number"
          />
        </div>
      </div>

      <textarea
        name="Comment"
        id="Comment"
        placeholder="Your comment on the order"
        class="comment"
      ></textarea>
      <button class="modal-btn">Send</button>
    </form>
  </div>
</div>
