<div class="about-backdrop is-hidden" data-modal-about>
  <div class="about-modal">
    <button class="about-modal__close-btn" data-modal-about-close>
      <svg class="icon-close" width="11" height="11">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <p class="about-modal__title">More about us</p>
    <div class="about-modal__box">
      <p class="about-modal__text">
        The secret of our ice cream lies in the right proportion, love and the
        main mission: delicious and natural ice cream can be accessible to
        everyone.
      </p>

      <ul class="about-modal__list list">
        <li class="about-modal__item">
          <p class="about-modal__subtitle">step 1</p>
          <svg class="list__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-milk"></use>
          </svg>
          <p class="about-modal__content">
            Preparation of raw materials from which the product will later be
            made.
          </p>
        </li>
        <li class="about-modal__item">
          <p class="about-modal__subtitle">step 2</p>
          <svg class="list__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-berry"></use>
          </svg>
          <p class="about-modal__content">
            Mixing all the necessary components, in accordance with the recipe,
            adding fruits.
          </p>
        </li>
        <li class="about-modal__item">
          <p class="about-modal__subtitle">step 3</p>
          <svg class="list__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-snowflake"></use>
          </svg>
          <p class="about-modal__content">
            Cooling and ripening of the mixture, saturation of ice cream with
            air.
          </p>
        </li>
        <li class="about-modal__item">
          <p class="about-modal__subtitle">step 4</p>
          <svg class="list__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-cafe"></use>
          </svg>
          <p class="about-modal__content">
            Storage in special containers, preparation for sale.
          </p>
        </li>
        <li class="about-modal__item">
          <p class="about-modal__subtitle">step 5</p>
          <svg class="list__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-icecream1"></use>
          </svg>
          <p class="about-modal__content">
            Adding various flavors at the request of the buyer (syrup,
            chocolate, nuts, etc.).
          </p>
        </li>
        <li class="about-modal__item">
          <p class="about-modal__subtitle">step 6</p>
          <svg class="list__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-like"></use>
          </svg>
          <p class="about-modal__content">Enjoy the taste of ice cream.</p>
        </li>
      </ul>
    </div>
    <a
      href="https://www.youtube.com/watch?v=_QHIxdJNSkA&ab_channel=FYITelevisionNetwork"
      target="_blank"
      rel="noopener nofollow noreferrer"
      class="about-modal__link link"
      >Watch movie<svg class="link__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </div>
</div>
