<div class="modal-buy is-hidden">
  <div class="modal-buy-container">
    <button class="modal-buy-close">
      <svg class="icon-close" width="11" height="11">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal-buy-title">Buy now</p>
    <form>
      <div class="form-container">
        <label for="user-name" class="modal-buy-label label">Name*</label>
        <input
          type="text"
          id="user-name"
          name="user-name"
          class="modal-buy-input"
          required
        />
        <label for="user-tel" class="modal-buy-label label">Phone*</label>
        <input
          type="tel"
          id="user-tel"
          name="user-tel"
          class="modal-buy-input"
          required
        />
        <label for="user-email" class="modal-buy-label label">E-mail*</label>
        <input
          type="email"
          id="user-email"
          name="user-email"
          class="modal-buy-input"
          required
        />
      </div>
      <div class="group-select">
        <div class="group">
          <label for="ice-cream" class="group-label label">Ice Cream</label>
          <select name="ice-cream" id="ice-cream" class="select-modal">
            <option value="chocolate">Chocolate</option>
            <option value="strawberry">Strawberry</option>
            <option value="banana">Banana</option>
          </select>
          <input
            type="number"
            required
            min="0"
            max="100"
            step="1"
            value="0"
            name="amount-first"
            id="amount-first"
            class="select-modal select-number"
          />
        </div>
        <div class="group">
          <label for="milkshakes" class="group-label label">Milkshakes</label>
          <select name="milkshakes" id="milkshakes" class="select-modal">
            <option value="vanilla">Vanilla</option>
            <option value="chocolate">Chocolate</option>
            <option value="strawberry">Strawberry</option>
          </select>
          <input
            type="number"
            required
            min="0"
            max="100"
            step="1"
            value="0"
            name="amount-second"
            id="amount-second"
            class="select-modal select-number"
          />
        </div>
        <div class="group">
          <label for="ice-coffee" class="group-label label">Ice Coffee</label>
          <select name="ice-coffee" id="ice-coffee" class="select-modal">
            <option value="ice-latte">Ice Latte</option>
            <option value="frappe">Frappe</option>
            <option value="bumblebee">Bumblebee</option>
          </select>
          <input
            type="number"
            required
            min="0"
            max="100"
            step="1"
            value="0"
            name="amount-third"
            id="amount-third"
            class="select-modal select-number"
          />
        </div>
      </div>

      <textarea
        name="comment"
        id="comment"
        placeholder="Your comment on the order"
        class="comment"
      ></textarea>
      <button type="submit" class="modal-btn">
        Send
        <svg class="modal-btn-icon" width="15" height="15">
          <use href="./images/icons.svg#icon-icecream2"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
