<div class="franchise-backdrop is-hidden" franchise-modal>
    <div class="franchise-modal">
        <button class="franchise-modal__close-btn" franchise-modal-close>
            <svg class="franchise-modal__close-icon" width="11" height="11">
                <use href="./images/icons.svg#icon-cross"></use>
            </svg>
        </button>

        <p class="franchise-modal__title">Leave your phone number and we will call you back</p>

        <form>

            <div class="modal-field">
                <label class="modal-field__label"><span class="modal-field__text-label">Full name</span>
                    <div class="modal-field__wrap">
                        <input class="modal-field__input" name="user-name" type="text" required
                            placeholder="please enter your full name">
                </label>
            </div>

            <div class="modal-field">
                <label class="modal-field__label"><span class="modal-field__text-label">E-mail</span>
                    <div class="modal-field__wrap">
                        <input class="modal-field__input" name="user-email" type="email" required
                            placeholder="Please enter your e-mail">
                </label>
            </div>


            <div class="modal-field">
                <label class="modal-field__label"><span class="modal-field__text-label">Phone number</span>
                    <div class="modal-field__wrap">
                        <input class="modal-field__input" name="user-tel" type="tel" required
                            placeholder="Please enter your phone number">
                </label>
            </div>

            <div class="modal-field">
                <label class="modal-field__label"><span class="modal-field__text-label">Question / comment</span>
                    <textarea class="modal-field__textarea" name="user-text"
                        placeholder="Please leave your comment or question in this field and we will get in touch with you as soon as possible"></textarea>
                </label>
            </div>
            <button class="modal-field__button" type="submit" value="submit">Submit</button>
        </form>


    </div>
</div>