<section class="products" id="products">
  <div class="container">
    <p data-aos="fade-down" class="products__label label">100% natural</p>
    <h2 data-aos="fade-down" class="products__title title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item product-list__ice-cream">
        <h3 class="section-title__products">ice cream</h3>
        <span class="product-composition__points"></span>
        <p class="products__text">
          We offer mixtures of our own production. We develop texture, taste,
          aroma, specific recipes, tastes according to the needs of the client.
          We use natural ingredients - including ingredients originating in
          Italy.
        </p>
        <button type="button" class="products-description-btn-first">
          <svg class="products-soc-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <div class="products__overlay-first is-hidden">
          <h3 class="price label">price:</h3>
          <ul>
            <li class="list">
              <p class="price-text">chocolate: 1,5 $</p>
            </li>
            <li class="list">
              <p class="price-text">strawberry : 1,5 $</p>
            </li>
            <li class="list">
              <p class="price-text">banana: 1,5 $</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="products-list__item product-list__coffee">
        <h3 class="section-title__products">ice coffee</h3>
        <span class="product-composition__points"></span>
        <p class="products__text">
          Toppings and fillers that create a high-quality and natural product
          for every taste, which will conquer even the highest gourmet. They
          will allow you to create a wide variety of flavor combinations
        </p>
        <button type="button" class="products-description-btn-second">
          <svg class="products-soc-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="products__overlay-second is-hidden">
          <h3 class="price label">price:</h3>
          <ul>
            <li class="list">
              <p class="price-text">ice latte: 2 $</p>
            </li>
            <li class="list">
              <p class="price-text">frappe : 2 $</p>
            </li>
            <li class="list">
              <p class="price-text">bumblebee: 2 $</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="products-list__item product-list__milkshakes">
        <h3 class="section-title__products">milkshakes</h3>
        <span class="product-composition__points"></span>
        <p class="products__text">
          When selling a milkshake, fruit fillers are very important, as well as
          hard toppings. They will allow you to create a wide variety of flavor
          combinations that will satisfy the taste preferences of each of your
          customers.
        </p>
        <button type="button" class="products-description-btn-third">
          <svg class="products-soc-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="products__overlay-third is-hidden">
          <h3 class="price label">price:</h3>
          <ul class="price-list">
            <li class="list">
              <p class="price-text">vanilla: 2,5 $</p>
            </li>
            <li class="list">
              <p class="price-text">chocolate : 2,5 $</p>
            </li>
            <li class="list">
              <p class="price-text">strawberry: 2,5 $</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
