<section class="products" id="products">
  <div class="container">
    <p data-aos="fade-down" class="products__label label">100% natural</p>
    <h2 data-aos="fade-down" class="products__title title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item product-list__ice-cream">



        <h3 class="section-title__products">ice cream</h3>
        <span class="product-composition__points"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
        </p>
        <button type="button" class="products-description-btn">
          <svg class="products-soc-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>

        <p class="products__overlay">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.

        </p>

      </li>
      <li class="products-list__item product-list__coffee">
        <h3 class="section-title__products">ice coffee</h3>
        <span class="product-composition__points"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing consectetur adipiscing elit adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
        </p>
        <button type="button" class="products-description-btn">
          <svg class="products-soc-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <p class="products__overlay">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.

        </p>

      </li>
      <li class="products-list__item product-list__milkshakes">
        <h3 class="section-title__products">milkshakes</h3>
        <span class="product-composition__points"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
        </p>
        <button type="button" class="products-description-btn">
          <svg class="products-soc-icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <p class="products__overlay">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.

        </p>
      </li>
    </ul>
  </div>
</section>