.about {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  @include tablet {
    display: flex;
  }
}
.about__label {
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 16px;
  }
}

.about__title {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 40px;
  }
}
.about__box {
  @include tablet {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.about__img {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.about__content {
  background-image: url(../images/about-bg-mobile-1x.png);
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-size: contain;
  @include retina {
    background-image: url(../images/about-bg-mobile-2x.png);
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: contain;
  }
  @include tablet {
    background-image: none;
  }
}
.about_subtitle {
  @include font(12px, 500, 1.58, null);
  color: var(--primary-text-color);
  width: 220px;
  margin-bottom: 30px;
  @include tablet {
    @include font(14px, 500, 1.78, null);
    margin-bottom: 20px;
    width: 334px;
  }
}
.about__text {
  @include font(12px, 500, 1.58, null);
  color: var(--secondary-text-color);
  width: 220px;
  margin-bottom: 20px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    @include font(14px, 500, 1.78, null);
    height: 155px;
    margin-bottom: 40px;
    width: 334px;
  }
}

.about__btn {
  padding: 15px 37px;
  @include font(14px, 700, 1.29, null);
}
.about__btn-icon {
  margin-left: 14px;
}
