.about {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  @include tablet {
    display: flex;
  }

  & .container {
    background-image: url(../images/about-bg-mobile-1x.png);
    background-repeat: no-repeat;
    background-position: 0% 76%;
    background-size: contain;
    @include retina {
      background-image: url(../images/about-bg-mobile-2x.png);
      background-repeat: no-repeat;
      background-position: 0% 76%;
      background-size: contain;
    }
    @include tablet {
      background-image: none;
    }
    @include desktop {
      align-items: center;
      justify-content: flex-start;
      background-image: url(../images/about-bg-desktop-1x.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: 176px;
      @include retina {
        background-image: url(../images/about-bg-desktop-2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 176px;
      }
    }
  }
}
.about__label {
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 16px;
  }
}
.about__title {
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 40px;
  }
  @include desktop {
    margin-bottom: 60px;
  }
}
.about__box {
  @include tablet {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  @include desktop {
    align-items: center;
    justify-content: flex-start;
  }
}
.about__img {
  margin-bottom: 40px;
  text-align: center;
  @include tablet {
    margin-bottom: 0;
    margin-right: 32px;
  }
  @include desktop {
    margin-right: 99px;
  }
}
.about__content {
  padding-right: 60px;
  @include tablet {
    padding-right: 16px;
  }
  @include desktop {
    padding-right: 0;
  }
}
.about_subtitle {
  @include font(12px, 500, 1.58, null);
  color: var(--primary-text-color);
  width: 100%;
  margin-bottom: 30px;
  @include tablet {
    @include font(14px, 500, 1.78, null);
    margin-bottom: 20px;
    width: 334px;
  }
  @include desktop {
    @include font(16px, 500, 1.75, 0.04em);
    margin-bottom: 32px;
    width: 463px;
  }
}
.about__text {
  @include font(12px, 500, 1.58, null);
  color: var(--secondary-text-color);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  @include tablet {
    @include font(14px, 500, 1.78, null);
    margin-bottom: 40px;
    width: 334px;
  }
  @include desktop {
    width: 463px;
    @include font(14px, 500, 1.78, 0.04em);
  }
}

.about__btn {
  padding: 15px 37px;
  @include font(14px, 700, 1.29, null);
  transition: color 250ms var(--typical-time-function);
  @include tablet {
    @include font(16px, 700, 1.31, null);
  }
  &:hover,
  &:focus {
    background-color: var(--pimary-accent-color);
    color: var(--tertiary-text-color);
  }
}
.about__btn-icon {
  margin-left: 14px;
  fill: currentColor;
}
