.advantages {
    background-color: var(--secondary-bg-color);
    padding-top: 40px;
    padding-bottom: 87px;
}

.advantages-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.advantages-list__item--first::before {
    display: block;
    content: '';
    background-image: url(/src/images/advantages-icon1-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 50px;
}

.advantages-list__item--second::before {
    display: block;
    content: '';
    background-image: url(/src/images/advantages-icon2-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.advantages-list__item--third::before {
    display: block;
    content: '';
    background-image: url(/src/images/advantages-icon3-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 50px;
}

.advantages-list__number {
    font-family: var(--accent-font);
    @include font(36px, 400, 1.14, 0.04em);
    text-transform: uppercase;
    color: var(--pimary-accent-color);
    margin-top: 16px;
    margin-bottom: 15px;
}

.advantages-list__text {
    font-family: var(--main-font);
    @include font(12px, 700, 1.67, null);
    color: var(--primary-text-color);
}