.contacts {
  padding-top: 60px;
  background-image: linear-gradient(to bottom, #ffffff 13%, #fff5f6);

  @include tablet {
    padding-top: 120px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include tablet {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.contacts__item {
  width: 100%;
  min-height: 412px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 32px 40px;

  @include tablet {
    min-height: 528px;
  }
}

.contacts__category {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80px;
  min-height: 16px;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  letter-spacing: 0.04em;
  color: var(--tertiary-text-color);
  background-color: var(--card2-bg-color);
  border-radius: 4px;

  @include tablet {
    width: 73px;
    min-height: 28px;
    font-size: 16px;
  }
}

.contacts__category--green {
  background-color: var(--card3-bg-color);
  width: 130px;

  @include tablet {
    width: 138px;
  }
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  margin-bottom: 8px;

  @include tablet {
    font-size: 14px;
  }
}

.contacts__second-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;

  @include tablet {
    font-size: 14px;
    line-height: 1.6;
  }
}

.contacts__time-list {
  margin-top: 24px;
}
.contacts__time-item {
  &:nth-child(2n + 1) {
    margin-bottom: 20px;
  }
}

.contacts__time-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;

  @include tablet {
    font-size: 14px;
  }
}

.contacts__time-text--border {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
}

.contacts__communications-list {
  margin-top: 24px;
}

.contacts__communications-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--typical-time-function);

  &:hover,
  &:focus {
    color: var(--pimary-accent-color);
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.8;
  }
}

.contacts__btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  gap: 10px;

  @include tablet {
    margin-top: 60px;
    gap: 15px;
  }
}
.contacts__btn-item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contacts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 161px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  border-radius: 22px;
  border: transparent;
}

.contacts__button--red {
  color: var(--tertiary-text-color);
  background-color: #d41342;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--typical-time-function);

  &:hover,
  &:focus {
    color: var(--pimary-accent-color);
    background-color: var(--primary-bg-color);
  }

  @include tablet {
    min-width: 198px;
  }
}

.contacts__button--red:hover .contacts__btn-icon,
.contacts__button--red:focus .contacts__btn-icon {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--typical-time-function);
  fill: var(--pimary-accent-color);
}

.contacts__button--white {
  color: var(--pimary-accent-color);
  background-color: var(--primary-bg-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--typical-time-function);

  &:hover,
  &:focus {
    color: var(--tertiary-text-color);
    background-color: #d41342;
  }

  @include tablet {
    min-width: 168px;
  }
}

.contacts__button--white:hover .contacts__btn-icon--red,
.contacts__button--white:focus .contacts__btn-icon--red {
  fill: #ffffff;
}

.contacts__btn-icon {
  margin-left: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--typical-time-function);
  fill: #ffffff;
}

.contacts__btn-icon--red {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--typical-time-function);
  fill: var(--pimary-accent-color);
}
