.footer {
    background-color: var(--secondary-bg-color);
    &__top {
        padding: 40px 0;
        @include desktop {
            padding-top: 121px;
            padding-bottom: 60px;
        }
    }
    &__top-container {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    &__label {
        text-align: left;
        margin-bottom: 16px;
        width: 232px;
        @include tablet {
            margin-bottom: 12px;
            width: 340px;
        }
        @include desktop {
            width: 472px;
            margin-bottom: 16px;
        }
    }
    
    &__title {
        text-align: left;
        margin-bottom: 40px;
        width: 200px;
        @include tablet {
            width: 340px;
            margin-bottom: 0;
        }
        @include desktop {
            width: 478px;
            margin-bottom: 0;
        }
    }
    
    &__list {
        display: flex;
        justify-content: flex-end;;
        margin-bottom: 40px;
    }
    
    &__item {
        width: 32px;
        height: 32px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    &__link {
        @include centered-flex;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #FEA5BB;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--pimary-accent-color);
        }
    }
    
    &__text {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 12px;
        line-height: 1.86;
        text-align: right;
        @include tablet {
            font-size: 14px;
        }
        @include desktop {
            font-size: 16px;
            letter-spacing: 0.02em;
        }
    }
    
    &__phone {
        color: var(--pimary-accent-color);
    }
    
    &__bottom {
        border-top: 1px solid #E1E1E1;
        padding-top: 16px;
        padding-bottom: 3px;
        @include tablet {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        @include desktop {
            padding-top: 7px;
            padding-bottom: 4px;
        }

    }
    &__bottom-container {
        @include tablet {
           display: flex;
           justify-content: center; 
           gap: 5px;
        }
        
    }
    
    &__bottom-title {
        font-family: var(--main-font);
        font-weight: 700;
        line-height: 1.52;
        text-align: center;
        color: var(--secondary-text-color);

        @include tablet {
            line-height: 1.86;
            letter-spacing: 0.02em;
        }
    }
    
    &__bottom-subtitle {
        font-family: var(--main-font);
        font-weight: 700;
        line-height: 1.52;
        text-align: center;
        color: var(--secondary-text-color);

        @include tablet {
            line-height: 1.86;
            letter-spacing: 0.02em;
        }
    }
}