.gallery {
  padding-top: 60px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 245, 246, 1) 40%,
    rgba(255, 255, 255) 40% 100%
  );

  @include tablet {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 245, 246, 1) 40%,
      rgba(255, 255, 255) 60%
    );
  }

  @include desktop {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 245, 246, 1) 25%,
      rgba(255, 255, 255) 25% 100%
    );
  }

  &__title {
    display: none;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2px;

    border-radius: 8px;
  }

  &__item--transform {
    transform: translateY(-10%);
  }

  &__item-container {
    display: inline-flex;
    margin: 0;
    padding: 0;

    flex-direction: column;
    list-style: none;
  }

  &__image {
    display: inline-block;
    max-width: 100%;
  }
}
