.header {
  background-color: var(--hero-bg-color);
  padding-top: 8px;
  display: flex;
  outline: transparent;
  @include tablet {
    padding-top: 32px;
    outline: transparent;
  }
  @include desktop {
    padding-top: 37px;
    outline: transparent;
  }

  &__logo {
    display: flex;
    margin-right: auto;

    @include desktop {
      margin-right: 125px;
    }
  }
  &__btn {
    background-color: var(--primary-bg-color);
    display: none;
    padding: 13px 37px;
    color: var(--pimary-accent-color);
    margin-left: 32px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--typical-time-function);
    @include tablet {
      display: flex;
    }
    @include desktop {
      margin-left: 0;
    }
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--pimary-accent-color);
    color: var(--tertiary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: none;
  justify-content: center;
  align-items: center;

  @include desktop {
    display: flex;
  }
  &__item {
    margin-right: 35px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    color: var(--tertiary-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    @include font(16px, 700, 1.31, null);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--typical-time-function);
  }
  &__link.current {
    color: var(--pimary-accent-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--pimary-accent-color);
  }
}

.menu-open-btn {
  background-color: var(--hero-bg-color);
  border: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  color: var(--pimary-accent-color);
  @include desktop {
    display: none;
  }
}
.menu-open-icon {
  fill: currentColor;
}
.menu-open-icon:hover,
.menu-open-icon:focus {
  fill: var(--tertiary-text-color);
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: var(--mobile-menu-bg-color);
  z-index: 999;
  transform: translateX(0);
  transition: transform 300ms var(--typical-time-function),
    visibility 300ms var(--typical-time-function),
    opacity 300ms var(--typical-time-function);
  overflow-y: auto;

  @include tablet {
    width: 40%;
    left: 60%;
  }
  @include desktop {
    display: none;
  }
  &__container {
    width: 100%;
    padding-top: 60px;
    position: relative;
    height: 100%;
  }
  &__btn {
    background-color: var(--primary-bg-color);
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 48px;
    color: var(--pimary-accent-color);
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--typical-time-function);
  }
  &__btn:hover,
  &__btn:focus {
    background-color: var(--pimary-accent-color);
    color: var(--tertiary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.icon-btn-arrow {
  margin-left: 16px;
  fill: currentColor;
}
.icon-btn-arrow:hover,
.icon-btn-arrow:focus {
  fill: var(--tertiary-text-color);
}

.mob-menu-list {
  &__item {
    border-bottom: 1px solid #e18298;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__item:first-child {
    border-top: 1px solid #e18298;
  }
  &__link {
    color: var(--tertiary-text-color);
    @include font(14px, 700, 1.29, null);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--typical-time-function);
  }
  &__link.current {
    color: var(--pimary-accent-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--pimary-accent-color);
  }
}
.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.menu-close {
  fill: rgba(255, 255, 255, 1);
}
.menu-close:hover,
.menu-close:focus {
  fill: var(--pimary-accent-color);
}
.is-hidden {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
