.hero {
  height: 444px;
  background-color: var(--hero-bg-color);
  padding-top: 22px;
  overflow: hidden;
  @include tablet {
    height: 100%;
    overflow: visible;
    padding-top: 20px;
  }
  @include desktop {
    padding-top: 60px;
  }
  & .container {
    position: relative;
  }
}

.hero__circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, #ffa5ba 0%, #ffa5ba 100%);
  margin-left: 16px;
  @include tablet {
    position: absolute;
    top: -50px;
    left: 249px;
    width: 335px;
    height: 333px;
  }
}
.hero__wrap {
  display: flex;
}
.hero__wrap--spacebetween {
  justify-content: space-between;
}
.hero__wrap--absolute {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 1;
  }
}
.hero__title {
  max-width: 218px;
  text-align: left;
  margin-bottom: 20px;
  &--white {
    font-size: 26px;
    color: var(--tertiary-text-color);
    @include tablet {
      font-size: 22px;
      line-height: 1.13;
    }
  }
  &--red {
    font-size: 48px;
    line-height: 0.96;
    @include tablet {
      font-size: 34px;
      line-height: 0.91;
    }
  }
}
.hero-info {
  display: flex;
}
.hero-info__item {
  height: 24px;
  border: none;
  border-radius: 20px;
  & + & {
    margin-left: 8px;
  }
}

.hero-info__item--red {
  min-width: 62.4px;
  color: var(--tertiary-text-color);
  background-color: var(--pimary-accent-color);
  transition: color 250ms var(--typical-time-function),
    background-color 250ms var(--typical-time-function);
  &:hover,
  &:focus {
    color: var(--pimary-accent-color);
    background-color: var(--tertiary-text-color);
  }
}

.hero-info__item--white {
  min-width: 82.8px;
  color: var(--pimary-accent-color);
  background-color: var(--primary-bg-color);
  transition: color 250ms var(--typical-time-function),
    background-color 250ms var(--typical-time-function);
  &:hover,
  &:focus {
    color: var(--primary-bg-color);
    background-color: var(--pimary-accent-color);
  }
}

.hero-info__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: inherit;
  @include font(8px, 400, 1.25, null);
  color: inherit;
}
.hero__img {
  display: none;
  @include tablet {
    display: block;
  }
  &--icecream {
    position: absolute;
    display: inline;

    @media screen and (max-width: 767px) {
      top: 12px;
      left: 97px;
    }
    @include tablet {
      width: 143px;
      bottom: 0;
      left: 42%;
    }
  }
}
.hero-list {
  display: none;
  @include tablet {
    display: inline;
  }
}
.hero-list__item {
  position: relative;
  z-index: 1;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  margin-left: auto;
  padding-right: 10px;
  color: var(--tertiary-text-color);
  background-color: transparent;
}
.hero-list__item:nth-child(1) {
  width: 43px;
  height: 44px;
}
.hero-list__item:nth-child(2) {
  width: 61px;
  height: 47px;
  padding-left: 8px;
}
.hero-list__item::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 16px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
}

.hero-list__span {
  font-family: 'Titan One';
  @include font(28px, null, 1.14, 0.04em);
  text-transform: uppercase;
  color: #d41443;
}

.hero__img--milk {
}
.hero__wrap--flex {
  align-items: center;
  padding-bottom: 16px;
}
.hero__wrap--bottom {
  display: block;
}
.hero__text {
  display: none;
  @include tablet {
    display: block;
    width: 114px;
    font-size: 8px;
    margin-bottom: 7px;
    color: var(--tertiary-text-color);
  }
}
.hero__btn {
  display: none;
  @include tablet {
    display: block;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
  }
}
.hero__icon {
  fill: var(--pimary-accent-color);
}
.hero__img--girl {
  position: absolute;
  bottom: 0;
  right: 28px;
}
